.accordion {
  max-width: 400px;
  height: auto;
  margin: 100px auto;
  border-radius: 3px;
}

.accordion-visible {
  background: rgb(71, 77, 155);
  border: 1px solid rgb(71, 77, 155);
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
}

.accordion-visible h2 {
  font-size: 20px;
}

.accordion-toggle {
  font-size: 18px;
  background: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition:
    opacity 0.4s ease-in-out,
    height 0.4s 0.4s ease-in-out;
}

.animated {
  opacity: 1;
  transition:
    height 0.4s ease-in-out,
    opacity 0.4s 0.4s ease-in-out;
}

.accordion-toggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  line-height: 1.3;
}
